// resets
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
}
body{
    overflow-x: hidden;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
// variable
$def-fs : 16px;
// mixins
@mixin flex($flex:flex,$position-justify:center,$position-align:center){
    display: $flex;
    justify-content: $position-justify;
    align-items: $position-align;
}
@mixin margin-padding($left,$top,$right,$bottom,$margin:true){
    @if($margin){
        margin:$left $top $right $bottom;
    }
    @else{
        padding:$left $top $right $bottom;
    }
}
@mixin section-divider($flex:flex,$flex-basis:50%,$max-width:50%){
    display: $flex;
    flex-basis: $flex-basis;
    max-width: $max-width;
}
@mixin border-radius($tl, $tr, $br, $bl){
    border-radius: $tl $tr $br $bl;
}
// public-classes
.container{
    max-width: 1170px;
    margin: auto;
    position: relative;
}
.row{
    @include flex();
}
.img-fluid{
    display: block;
    width: 100%;
    height:auto;
}
.mt-250{
    margin-top: 250px;
}
// menu style
#nav{
    .navbar{
        font-size: $def-fs;
        height: 60px;
        @include flex(flex, space-between, center);
        @include margin-padding( 10px, 0, 10px , 0, true);
        ul{
            @include margin-padding(0,10px ,0 ,10px ,false );
            li{
                display: inline-block;
                line-height: 60px;
                @include margin-padding(0, 0, 0, 18px);
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 0;
                    height: 2px;
                    background-color: rgb(54, 114, 228);
                    transition: 0.5s ease-in;
                }
                &:hover::after{
                    width: 100%;
                    background-color: aqua;
                }
                &:hover a{
                    color: red;
                }
                a{
                    color: black;
                    font: {
                        size: $def-fs;
                        weight: bold;
                    }
                    transition: 0.5s ease;
                    @media screen and (max-width:768px) {
                        font-size: 14px;
                    }
                }
            }
        }
        .social-icon{
            direction: ltr;
            display: inline-block;
            width: 200px;
            height: 60px;
            @include flex(flex, space-between, center);
            @include margin-padding(0, 10px, 0, 10px, false);
            a{
            &:hover i{
                color: red;
            }
                i{
                    color: black;
                    font-size: $def-fs;
                    transition: 0.5s ease;
                    @media screen and (max-width:768px){
                     font-size: 14px;   
                    }
                }
            }
            @media screen and (max-width:768px){
             width: 150px;           
            }
        }
    }
}
// header style
#header{
    header{
        width: 100%;
        @include margin-padding(100px, 0, 0, 0,);
        @include flex(flex, space-between, center);
        .right{
            @include section-divider(flex, 67%, 67%);
            position: relative;
            .gear-1{
                position: absolute;
                top: 0;
                right: 20px;
                font-size: $def-fs + 24px;
                color: rgb(107, 107, 107);
                animation: gear-1 13s infinite linear;
            }
            @keyframes gear-1{
                100%{
                    transform: rotate(360deg);
                }
            }
            .gear-2{
                position: absolute;
                top: 0;
                right: 0;
                font-size: $def-fs;
                color: rgb(78, 78, 78);
                animation: gear-2 13s infinite linear;
            }
            @keyframes gear-2{
                100%{
                    transform: rotate(-360deg);
                }
            }
            .sq-1{
                position: absolute;
                width: 20px;
                height: 20px;
                top: 0;
                left: 80px;
                border: 4px solid rgba(238, 68, 68, 0.658);
                animation: sq 8s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
            }
            .sq-2{
                position: absolute;
                width: 80px;
                height: 80px;
                top: 60%;
                left: 70%;
                border: 4px solid rgb(238, 68, 68);
                animation: sq 8s linear infinite;
            }
            .sq-3{
                position: absolute;
                width: 40px;
                height: 40px;
                bottom: 10px;
                left: 30px;
                border: 4px solid rgba(238, 68, 68, 0.322);
                animation: sq 8s ease infinite;
            }
            @keyframes sq {
                100%{
                    transform: rotate(360deg)
                }
            }
            @media screen and (max-width:768px){
                .sq-1,.sq-2,.sq-3{
                    display: none;
                }
            }
        }
        .left{
            @include section-divider(flex, 33%, 33%);
            @include flex(flex, center, center);
            flex-direction: column;
            h1{
                font-size: $def-fs + 18px;
                @include margin-padding(0, 0, 30px, 0, );
            }
        }
    }
}
// course style 
#course{
    @include margin-padding(100px, auto, 20px, auto, );
    .row{
        @include flex(flex, center, center);
        .course{
            @include section-divider(flex, 30%, 30%);
            flex-direction: column;
            background-color: #fff;
            position: relative;
            border-bottom:4px solid red;
            @include border-radius(0, 0, 5px, 5px);
            cursor: pointer;
            @include margin-padding(0, 16px, 0, 16px, true);
            transition: .8s ease-in;
            &:hover{
                box-shadow: 0 0 12px 0 rgba(95,95,95,.5);
            }
            &:hover .teacher{
                top: -54px;
            }
            &:hover .teacher-name{
                width: 100px;
                right: 63px;
            }
            .status{
                position: absolute;
                font-size: $def-fs - 4px;
                top: 10px;
                left: 10px;
                background-color: rgba(46,125,222,.5);
                color: #fff;
                @include margin-padding(2px,6px ,2px ,6px ,false );
                @include border-radius(2px,2px ,2px ,2px );
            }
            .teacher{
                position: absolute;
                top: -34px;
                right: 9px;
                width: 54px;
                z-index: -1;
                @include border-radius(100px, 100px, 100px, 100px);
                transition: .7s linear;
            }
            .teacher-name{
                position: absolute;
                top: -30px;
                right: 30px;
                font-size: $def-fs - 3px;
                z-index: -2;
                width: 0;
                overflow: hidden;
                white-space: nowrap;
                transition: .6s ease;
            }
            a{
                @include margin-padding(10px, 10px, 10px, 10px, true);
                font-size: $def-fs + 2px;
                color: black;
            }
            .meta{
                font-size: $def-fs - 2px;
                @include margin-padding(0, 10px, 0, 10px, true);
                @include margin-padding(16px, 0, 12px, 0, false);
                border-top: 1px solid #efefef;
                @include flex(flex, space-between, center);
                :nth-child(1){
                    i{
                        color: #45a1ff;
                        margin-left: 3px;
                    }
                }
                :nth-child(2){
                    @include margin-padding(1px, 4px, 1px, 4px, false);
                    @include border-radius(5px, 5px, 5px, 5px);
                    background: linear-gradient(to right,green,darkgreen);
                    color: #efefef;
                }
            }
        }
    }
}
// path style 
.path{
    @include flex(flex, space-between, null);
    margin-bottom: 100px;
    .right-side{
        @include section-divider(flex, 50%, 50%);
    }
    .left-side{
        @include section-divider(flex, 45%, 45%);
        .path-title{
            @include flex(flex, space-around, center);
            flex-direction:column;
            h2{
                font-size: $def-fs + 10px;
                color: #46484d;
            }
            p{
                font-size: $def-fs + 2px;
                line-height: 30px;
                color: #868383;
            }
        }

    }
}
// topic style 
#topic{
    &::after,
    &::before{
        position: absolute;
        background: rgba(140,124,229, .08);
        width: 200px;
        height: 250px;
        content: '';
        bottom: 90px;
        left: -200px;
        transform: skewX(10deg);
        @include border-radius(0, 20px, 50px, 0);
        z-index: -1;
    }
    &::after{
        bottom: 149px;
        left: -290px;
    }
    .topic-title{
        font-size: $def-fs + 10px;
        margin-bottom: 30px;
        padding-right: 10px;
        border-right: 5px solid red;
        @include border-radius(0, 3px, 5px, 0);
    }
    .topic{
        @include flex(flex, space-between, null);
        margin-bottom: 20px;
        .card{
            @include section-divider(flex, 49%, 49%);
            border:1px solid #efefef;
            @include border-radius(3px, 3px, 3px, 3px);
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            overflow: hidden;
        &:hover .topic-img::after{
            opacity: .5;
        }
            .topic-img{
                @include section-divider(flex, 30%, 30%);
                position: relative;
                &::after{
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    transition: .5s ease;
                }
            }
            .topic-detail{
                @include section-divider(flex, 70%, 70%);
                flex-direction: column;
                @include margin-padding(22px, 22px, 22px, 22px, false);
                position: relative;
                &::after{
                    content: "";
                    width: 50px;
                    height: 105%;
                    position: absolute;
                    right: -36px;
                    top: -4px;
                    transform: rotate(5deg);
                    background-color: rgb(255, 255, 255);
                }
                a{
                    font-size: $def-fs + 2px;
                }
                .meta{
                    font-size: $def-fs - 4px;
                    color: #ccc;
                    margin-top: 15px;
                    @include flex(flex, space-between, center);
                }
                p{
                    font-size: $def-fs - 2px;
                    margin-top: 20px;
                    line-height: 30px;
                    color: #757575;
                }
            }
        }
    }
}
// footer style
#footer{
    @include margin-padding(20px, 0, 0, 0, false);
    background-color: #35373a;
    .container{
        .footer{
            @include flex(flex, center, center);
            .side-1{
                @include section-divider(flex, 33%, 33%);
                flex-direction: column;
                @include flex(null, space-between, center);
                h5{
                    font-size: $def-fs + 8px;
                    font-weight: 500;
                    color: #fff;
                    justify-self: start;
                    margin-bottom: 10px;
                    padding-right: 5px;
                    border-bottom: 5px solid red;
                    @include border-radius(0, 0, 3px, 3px)
                }
                ul{
                    @include flex(flex, space-between, center);
                    flex-direction: column;
                    li{
                        color: rgb(184, 179, 179);
                        font-size: $def-fs + 2px;
                        font-weight: 500;
                        direction: rtl;
                        @include margin-padding(3px, 5px, 3px, 5px, false);
                        cursor: pointer;
                        transition: .5s ease;
                        line-height: 25px;
                    &:hover{
                        color: white;
                    }
                    &:hover i{
                        color: white;
                    }
                        i{
                            color: orange;
                            margin-left: 5px;
                            transition: .5s ease;
                        }
                    }
                }
            }
            .side-2{
                @include section-divider(flex, 33%, 33%);
                @include flex(null, space-between, center);
                flex-direction: column;
                ul{
                    flex-direction: column;
                    @include flex(flex, space-between, center);
                    li{
                        &:hover a{
                            color: white;
                            text-shadow: 0 1px 10px #efefef;
                            margin-right: 10px;
                        }
                        a{
                            color: rgb(184, 179, 179);
                            font-size: $def-fs + 2px;
                            line-height: 30px;
                            transition: .6s ease-in;
                            font-weight: 500;
                        }
                    }
                }
            }
            .side-3{
                @include section-divider(flex, 33%, 33%);
                @include flex(null, space-between, center);
                flex-direction: column;
                height: 200px;
                p{
                    color: orangered;
                    @include margin-padding(20px, 0, 30px, 0, true);
                }
                form{
                    background-color: #3e7a0d;
                    height: 120px;
                    width: 100%;
                    @include flex(flex, space-between, center);
                    @include margin-padding(10px, 10px, 10px, 10px, false);
                    flex-direction: column;
                    border-radius: 5px;
                    box-shadow:0 0 20px 0 #ffffff38;
                    input{
                        background-color: #ffffff;
                        border: none;
                        height: 30px;
                        width: 180px;
                        border-radius: 5px;
                        &::placeholder{
                            color: #686868;
                            font-size: $def-fs + 4px;
                        }
                    }
                    button{
                        padding: 5px;
                        border-radius: 5px;
                        background-color: #8fad76;
                        border: none;
                        font-size: $def-fs + 2px;
                        color: white;
                        transition: .7s ease-out;
                        cursor: pointer;
                        &:hover{
                            background-color: #00ff2a;
                        }
                    }
                }
            }
        }
    }
}